<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/lumen/bootstrap.min.css" />
    <!-- Chart Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <span class="navbar-title">만개의 레시피 재료 분석</span>
      </div>
    </nav>
    <style>
      .navbar-title {
        font-size: 32px; /* 글자 크기 설정 */
        font-weight: bold; /* 굵은 글씨 */
        color: #090; /* 글자 색상 */
        text-align: center;
      }
    </style>
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-8">
            <canvas id="myChart" width="400" height="200"></canvas> <!-- 바 플롯 높이 조정 -->
            <script>
				const ctx = document.getElementById('myChart').getContext('2d');
				const myChart = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: {{ labels|safe }},
						datasets: [{
							label: '많이 사용된 재료들!',
							data: {{ data|safe }},
							backgroundColor: 'rgba(75, 192, 192, 0.2)',
							borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
						}]
					},
					options: {
						scales: {
							y: {
								beginAtZero: true
							}
						}
					}
				});
			</script>

            <canvas id="piChart" width="400" height="200"></canvas>
            <script>
				const ctx2 = document.getElementById('piChart').getContext('2d');
				const piChart = new Chart(ctx2, {
					type: 'doughnut',
					data: {
						labels: {{ cook_time_label|safe }},
						datasets: [{
							label: '조리 소요 시간',
							data: {{ cook_time_data|safe }},
							backgroundColor: [
								'rgba(255, 99, 132, 0.2)',
                				'rgba(54, 162, 235, 0.2)',
                				'rgba(255, 206, 86, 0.2)',
                				'rgba(75, 192, 192, 0.2)',
                				'rgba(153, 102, 255, 0.2)',
                				'rgba(255, 159, 64, 0.2)'
            					],
							borderColor: [
                				'rgba(255, 99, 132, 1)',
                				'rgba(54, 162, 235, 1)',
                				'rgba(255, 206, 86, 1)',
                				'rgba(75, 192, 192, 1)',
                				'rgba(153, 102, 255, 1)',
                				'rgba(255, 159, 64, 1)'
            				],
                            borderWidth: 1
						}]
					},
					options: {
						plugins: {
        					title: {
            					display: true, // 제목을 표시하기 위해 필수
            					text: "요리 소요 시간" // 제목 텍스트
        					}
    					},
						scales: {
							y: {
								beginAtZero: true
							}
						}
					}
				});
			</script>

            <div id="wordcloud" style="height: 300px; width: 100%; margin-top: 20px; border: 1px solid #000;"></div> <!-- 워드 클라우드 높이 조정 -->

            <script>
                    $(document).ready(function() {
                        // 워드 클라우드 생성
                        const words = ['설탕', '참기름', '양파', '간장', '다진마늘', '대파', '물', '고춧가루', '소금', '당근', '후추', '고추장', '통깨', '청양고추', '올리고당']
                            .map((label, index) => ({ text: label, size: [65, 50, 46, 46, 45, 44, 38, 36, 34, 26, 25, 24, 23, 22, 20][index] * 10 }));
                        
                        // WordCloud 라이브러리를 이용하여 워드 클라우드 생성
                        WordCloud(document.getElementById('wordcloud'), {
                            list: words.map(word => [word.text, word.size]),
                            gridSize: 20,
                            weightFactor: 5,
                            color: '#c0c0c0',
                            backgroundColor: '#ffffff'
                        });
                    });
                </script>
          </div>
          <div class="col-md-4" style="height: 1200px; overflow-y: auto; position: relative;">
            <h2 class="text-center mb-4" style="position: sticky; top: 0; background-color: white; z-index: 10;">레시피 랭킹</h2> <!-- 레시피 랭킹 제목 고정 -->
            {% for recipe in recipes %}
              <div class="small mb-1" style="font-weight: bold; font-size: 1.25rem;">
                {{ forloop.counter }}위: {{ recipe.recipe_title }} <!-- 순위 표시 -->
              </div>

              <div class="text-center">
                <!-- 이미지를 가운데에 배치 -->
                <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_title }}" style="width: 60%; height: auto;" /> <!-- 이미지 크기 조정 -->
              </div>
              <div class="d-flex justify-content-center">
                <!-- 버튼을 가운데에 배치 -->
              </div>
              <hr />
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
      </div>
    </footer>
    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS -->
    <script src="js/scripts.js"></script>
  </body>
</html>
